# Lab 03 - pandas I

Name: Kartikeya Sharma  
Class: CSCI 349 - Intro to Data Mining  
Semester: 2021SP  
Instructor: Brian King

In [2]:
import sys
import numpy as np
import pandas as pd
from pandas import Series, DataFrame # because they are used so much
                                     # and the O'Reilly book 
                                     # recommended doing so!

#### 1. [P] Report the Python, Numpy and Pandas version numbers.

In [3]:
print("Python version: " + str(sys.version))
print()
print("Numpy version: " + str(np.__version__))
print("Pandas version: " + str(pd.__version__))

Python version: 3.8.8 (default, Feb 24 2021, 13:46:16)
[Clang 10.0.0 ]

Numpy version: 1.19.2
Pandas version: 1.2.3

#### 2. [P] Now, show the result of pd.show_versions(). Write a comment in the cell about what this shows.

In [4]:
pd.show_versions()

# It shows information related to the operating system
# that the Python kernel is running on, which version of
# pandas is being used in the local environment, and 
# which versions of other related packages are being used
# in the local environment.

# Source: https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.show_versions.html

INSTALLED VERSIONS
------------------
commit           : f2c8480af2f25efdbd803218b9d87980f416563e
python           : 3.8.8.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 20.4.0
Version          : Darwin Kernel Version 20.4.0: Fri Mar  5 03:57:04 PST 2021; root:xnu-7195.101.1~4/RELEASE_X86_64
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.2.3
numpy            : 1.19.2
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.0.1
setuptools       : 52.0.0.post20210125
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.21.0
pandas_datareader: None
bs4              : None
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.1
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

#### 3. [M] Explain the relationship between numpy and pandas. How are they tied together? How are they different? What core functionality does pandas add to numpy?

numpy and pandas are both packages in Python that are "used for scientific computing." They both have functions and methods that can be operated on arrays without needing explicit iterative loops, particularly for loops.<sup>1</sup> 

The pandas library is fairly dependent upon the NumPy package, including its array data type known as an ndarray.<sup>3</sup> Pandas builds off and expands upon the functionality offered in NumPy, such as ufuncs, by providing a more descriptive means for handling data.<sup>1 3</sup>

Whereas elements in NumPy arrays are accessed through their positionally accending and sequential index value(s) (of integers), pandas allows one to label, change labels of, and even rearrange indices with letters, integers, etc. When values from either of two 1D/2D list objects, i.e. either Series/DataFrame or 1D/2D ndarray, being operated upon is missing, pandas is skilled at aligning data and filling in missing values (with NaN) accordingly, unlike Numpy, that is.<sup>3</sup> Although pandas does offer these benefits, it uses more more memory to store the same data and indexes slower than NumPy does.<sup>4</sup> For managing data that has less than or equal to about 50,000 rows, NumPy is more efficient; on the other hand, pandas is more efficient at handling data that has about 500,000 or more rows. Within those two thresholds, the efficiency may vary.<sup>4</sup>

(P.S. According to the O'Reilly book, below is the most significant feature, or "core functionality," that pandas designs on top of NumPy.)

numpy, particularly the main data type of ndarray within the package, is designed to handle arrays of data, of which each item is read, written, and identified as the *same* data type, particularly numerical data.<sup>1</sup> pandas, on the other hand, is designed to handle "tabular or heterogeneous data," i.e. data that contains different data types within a 2D pandas data type, also known as a DataFrame.<sup>1</sup> Tabular data is an enhanced version of a 2D array with rows and columns more or less having specific meanings. Each row is an entity, and each column is a property; each position in the 2D array is a value for a specific property of a specific entity. Each column might stores different types of data; for example, one column might contain a name (data point that is commonly represented as a string) of a user and another might contain an age (data point that is commonly represented as an integer). Due to the different data types stored across columns, one can begin to understand the usefulness of pandas arrays in the context of 'heterogenous data.' 

Sources:
1. https://learning.oreilly.com/library/view/python-for-data/9781491957653/ch05.html
2. https://www.w3.org/TR/tabular-data-model/
3. https://medium.com/@ericvanrees/pandas-series-objects-and-numpy-arrays-15dfe05919d7
4. https://www.javatpoint.com/pandas-vs-numpy

#### 4. [M] Compare and contrast Series and DataFrame.

Both Series and DataFrames are datatypes specific to the pandas library. They accept many different types of input, such as ndarrays, dictionaries, a compatible pandas datatype (e.g. Series accepts Series, DataFrame accepts Series or DataFrame). <sup>1</sup> They both have customizeable indices. NumPy functions, including the ufuncs, can be called by or used on both Series and DataFrame objects.<sup>1</sup>

A DataFrame is two-dimensional, whereas a Series is one-dimensional. A relationship between the Series and DataFrame datatypes is that a DataFrame is a collection of Series objects. DataFrames can alternatively be thought of as a "dict of like-indexed Series objects."<sup>1</sup>  A DataFrame is comprised of indices, which are row labels, and columns, which are column labels.<sup>1</sup> 

The following describes some of their relationship, i.e. that of Series and DataFrame objects, as far as operations with one another. A Series with an index different from that of a DataFrame will align to the index of the DataFrame during the insertion process.<sup>1</sup> An operation between a Series and DataFrame will operate each row of the DataFrame with the Series, of course, with respect to their ordering around the operator.<sup>1</sup>

Sources:
1. https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html

#### 5. [M] What are the data types that can be used to create a Series object in pandas?

The data types that can be used to create a Series object in pandas are a Python dict, an ndarray (NumPy array type), and a scalar value.<sup>1</sup>

Source:
1. https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html

#### 6. [M] What are the data structures that can be used to create a DataFrame object in pandas?

The data structures that can be used to create a DataFrame object in pandas are a dict of 1D lists, a dict of 1D dicts, a dict of Series objects, a dict of 1D ndarrays, a 2D ndarray, a structured/record ndarray, a Series object, or a DataFrame object.<sup>1</sup> A structured/record ndarray holds a structure as each element in an array, and each structure represents a collection of field values (or like a C struct).<sup>2</sup>

Source:
1. https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html
2. https://numpy.org/doc/stable/user/basics.rec.html

#### 7. [M] When creating a Series object, what role does the index parameter play? Does the index always need to be specified? If not, what happens?

The index parameter allows the user to define a sequence of labels to corresponding to each element in the Series; these customized labels, or index values, can be used when an element is accessed via the label assigned to it within the Series. These indices are important in "[identifying] data... [which is important in] analysis, visualization, and interactive console display."<sup>1</sup> It also allows for Series to have the feature of data alignment, wherein operations done between two Series will be done along a particular index value/label rather than the mere ordering of the sequences; this is important when operating among two Series objects with incomplete data, which better models real-world scenarios.<sup>1</sup> The index does not always need to be specified; if an index is not specified, the Series will assume a default sequence of index values ranging from 0 to the number of elements in the Series minus 1.

Source:
1. https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing

#### 8. [M] Consider the copy() method of a DataFrame object. What is this method for? Explain the difference between a shallow copy and a deep copy of a DataFrame? Why would I use a shallow copy?

The copy method creates a new DataFrame object from the indices and data of the DataFrame object that calls the copy method. 

By default or if the deep parameter is set to True, which designates that a deep copy is being made, pandas.DataFrame.copy creates a copy of the actual indices and data held by the DataFrame object and creates a DataFrame object with its own independent copy of the indices and data in memory. It should be noted that although data is copied from the DataFrame, the "actual Python objects will not be copied recursively, only the reference to the object."<sup>1</sup> On the other hand, if the deep parameter is set to False, which designates that a shallow copy is being made, a new DataFrame object will be created based upon the DataFrame object that called the pandas.DataFrame.copy method, except the same indices and data in memory that were referred to by the existing DataFrame object will now also be referred to by the newly-created DataFrame object. With this, changes made to the new DataFrame object will be reflected in the existing DataFrame object as well.

Shallow copy would be used because it uses less memory than a deep copy, as the indices and data do not have to be copied in memory for the new DataFrame object (only references to the same indices and data already stored in memory referred to by the existing DataFrame object are copied to the newly-created DataFrame object). The shallow copy operation also uses less time than a deep copy one because copying indices and data (and assigning references to them within the newly-created DataFrame object) takes more time than merely copying references to already existing indices and data in memory to the newly-created DataFrame object. Thirdly, one may wish to centralize the data such that changes made to any element in any of the DataFrames copied are made across all DataFrames; in essence, the DataFrames act as views to the same data. Fourthly, a deep copy is unnecessarily expensive (both time and memorywise) if one does not intend to modify the underlying data of the initial DataFrame once created (and perhaps only modify the view).

### ask professor about the whole immutable thing (indices, data, underlying numpy array DataFrames...)

Source:
1. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.copy.html

#### Next, we're going to work with a very simple set of data of quiz scores, just to get you started. Enter the following Python lists in a cell in your notebook. They will represent some fictitious daily quiz scores for a couple of weeks of some course you are taking:

#### days = ["Mon","Tue","Wed","Thu","Fri"]
#### scores_1 = [9.5, 8.75, 8, 10, 7.75]
#### scores_2 = [9, 8, 10, 8.75, 7.25]

In [5]:
days = ["Mon","Tue","Wed","Thu","Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]

#### 9. [P] Convert scores_1 and scores_2 into two Series objects. Use days as your index. You should name each Series object using the name parameter as "week_1", and "week_2". Do not show the result, only store the variables.

In [6]:
scores_1 = Series(scores_1, index=days, name='week_1') # same as pd.Series
scores_2 = Series(scores_2, index=days, name='week_2')

#### 10. [P] Create a pandas DataFrame called scores that represents the above data. Show your data frame. Your results should be arranged as shown below: 

#### *(my output matches the output in the assignment)*

In [7]:
scores = DataFrame([scores_1, scores_2]) 
scores

        Mon   Tue   Wed    Thu   Fri
week_1  9.5  8.75   8.0  10.00  7.75
week_2  9.0  8.00  10.0   8.75  7.25

#### 11. [P] Append the following data to the end of scores. [8.5,8,9.75,9,8.25]. The row label on the new week is "week_3". Show your updated data frame. It should look like the following:

#### *(my output matches the output in the assignment)*

In [8]:
scores = scores.append(Series([8.5,8,9.75,9,8.25], index=days, name='week_3'))
scores

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  8.25

#### 12. [M] numpy and pandas have an ENORMOUS number of ways for selecting data. At first, the flexibility will confuse and drive you nuts. In time, it because amazing and intuitive (with less nuts.)

#### From their 10 minute tutorial:
#### "**Note:** While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc.

#### Write yourself a quick one sentence reference for each access method listed above, with one example for each using the scores DataFrame.

#### You are going to see many ways to select data in a DataFrame. It will be confusing at first. For example, in addition to the above access methods, you can also use the [ ] operator directly to access your data.
#### For example, try

#### ```scores.iloc[0]``` or ```scores[0:1]``` or ```scores["Mon"]``` or 
#### ```scores.loc[:,"Mon"]```

#### and understand how they are the same (or different!) In addition, DataFrames dynamically create attributes for each column of data you have (assuming the columns are named with strings.) For example, you could do either:

#### ```scores["Mon"]``` or ```scores.Mon```

#### to access a single variable in your dataset as a Series. You'll see all the above techniques used in practice.

#### Again, I strongly recommend that you go through the 10 minute tutorial carefully, and briefly summarize what you can in your own notes. Find some good cheat sheets, or make your own. AND – PAY CLOSE ATTENTION TO THE RETURN TYPES! It's very important to understand when DataFrame objects vs. Series objects are returned.

Intro Reference Guide for pandas Data Selection

*The trials for the examples of each of the four selection functions explicitly specified above are given in the Python and output cells that follow this Markdown cell.*

.at: lookup of a particular value in a DataFrame by row and column label; the function returns  specific value (caller can get/set value)<sup>1 5</sup>
Example: ```# selecting element in first row and first column
            scores.at['week_1', 'Mon]```

.iat: lookup of a particular value in a DataFrame by its pair of numerical row and column indices or a boolean array; function returns the specific value<sup>2 5</sup>
Example: ```# selecting element in first row and first column
            scores.iat[0,0]```

.loc: selection of row/column of data with label<sup>3 5</sup>
Example: ```# selecting first row
            scores.loc['week_1']```

.iloc: selection of row/column of data with numeric index<sup>4 5</sup>
Example: ```# selecting first row
            scores.iloc[0]```

Sources:
1. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html
2. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iat.html
3. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html
4. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [9]:
#.at example (selecting element in first row and first column)
scores.at['week_1', 'Mon']

9.5

In [10]:
#.iat example (selecting element in first row and first column)
scores.iat[0,0]

9.5

In [11]:
#.loc example (selecting first row)
scores.loc['week_1']

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

In [12]:
#.loc example (selecting first column)
scores.loc[:,'Mon']

week_1    9.5
week_2    9.0
week_3    8.5
Name: Mon, dtype: float64

In [13]:
#.iloc example (selecting first row)
scores.iloc[0]

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

In [14]:
#.iloc example (selecting first column)
scores.iloc[:, 0]

week_1    9.5
week_2    9.0
week_3    8.5
Name: Mon, dtype: float64

#### 13. [P] Show at least two different techniques to select scores for Tuesday using the string "```Tue```"

In [15]:
print(scores["Tue"]) # calling __getitem__ to receive Series 
                     # of the "Tue" column
print()
print(scores.loc[:, "Tue"]) # selecting all row labels and selecting
                            # column label "Tue" through .loc

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

#### 14. [P] Show how to retrieve the scores for Tuesday using the named attribute ```Tue```

In [16]:
scores.Tue # accessing attribute named ```Tue``` like accessing
           # any other attribute of an object: 
           # <object name>.<attribute name>

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

#### 15. [P] Show at least three techniques to select scores for Wednesday using an integer. The return type can be either a DataFrame or a Series.

In [17]:
print("Example #1")
print(scores.iloc[:,2]) # returns Series with scores for Wednesday
                        # by requesting third column via .iloc
print("return type: " + str(type(scores.iloc[:,2])))
print()
print("Example #2")
print(scores.iloc[:,[2]]) # returns DataFrame with scores for Wednesday
                          # by requesting a list of integers only
                          # containing '2,' representing requesting third
                          # column via .iloc
print("return type: " + str(type(scores.iloc[:,[2]])))
print()     
print("Example #3")
print(scores.iloc[:, 2:3]) # returns DataFrame that has sliced the scores
                           # DataFrame for its third column via .iloc
print("return type: " + str(type(scores.iloc[:, 2:3])))

Example #1
week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64
return type: <class 'pandas.core.series.Series'>

Example #2
          Wed
week_1   8.00
week_2  10.00
week_3   9.75
return type: <class 'pandas.core.frame.DataFrame'>

Example #3
          Wed
week_1   8.00
week_2  10.00
week_3   9.75
return type: <class 'pandas.core.frame.DataFrame'>

#### 16. [P] Select the data for the first week using the string "week_1". Your result should return a Series representing the scores for week 1.

In [18]:
print(scores.loc['week_1',:])
print()
print("return type: " + str(type(scores.loc['week_1',:])))

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

return type: <class 'pandas.core.series.Series'>

#### 17. [P] Select the data for the first week using the string "week_1". Your result should return a DataFrame, representing the subset of the scores DataFrame for week 1 only.

In [19]:
print(scores.loc[['week_1'],:])
print()
print("return type: " + str(type(scores.loc[:'week_1',:])))

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

return type: <class 'pandas.core.frame.DataFrame'>

#### 18. [P] Select the data for the first week using a slice

In [20]:
print(scores.loc[:'week_1',:])
print()
print("return type: " + str(type(scores.loc[:'week_1',:])))

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

return type: <class 'pandas.core.frame.DataFrame'>

#### 19. [P] Use .iloc to select Monday and Friday of the first and third week.

In [21]:
scores.iloc[[0,2],[0,4]] # appears to be error in the assignment
                         # where week 3 Friday score is 6.00 instead
                         # of 8.25, as specified in the assignment

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  8.25

#### 20. [P] Repeat the previous exercise, but use the .loc selector. You should have the same result.

In [22]:
scores.loc[['week_1', 'week_3'], ['Mon', 'Fri']] # matches result
                                                 # from prob 19

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  8.25

#### 21. [P] For each week, report how much each day's score for that week differed from the mean for the week.

In [23]:
# I have printed scores and the relevant
# weekly score means to show my 
# work and thought process.
# The last cell is the final answer.

scores

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  8.25

In [24]:
scores.mean(axis=1)

week_1    8.8
week_2    8.6
week_3    8.7
dtype: float64

In [25]:
""""
the mean across columns (for each row)
then, subtracting the Series containing
the mean value of each week from
each column (across the rows,
along the index axis) of the DataFrame
to get "how much each day's score
for that week differed from the
mean for the week"

IMPORTANT ASSUMPTION: "how much... differed" in
the context of values and their related mean values
is interpretted as a set of ABSOLUTE values
rather than positive, neutral, and negative values.

reason #1 for assumption: Lab 02, problem 30
"compute its deviation (absolute value of the
observed mean - expected mean)." the concept is used in the
is used in the context of deviation, which is related to the
phrase differed, and in the context of means.

reason #2 for assumption: Kieren MacMillan, someone who
has had an array of papers on number theory published in 
peer-reviewed journals describes how "the
'difference' between two numbers refers to
the distance on a number line between the
two points corresponding to each of the
two numbers, a.k.a. the absolute value"
(Source: 
https://math.stackexchange.com/questions/1893988/how-should-we-calculate-difference-between-two-numbers)


TL;DR: I have interpretted "how much... differed"
in the problem statement as asking for absolute
values rather than signed values per reasons
aforementioned.
"""

scores.sub(scores.mean(axis=1), axis='index')

        Mon   Tue   Wed   Thu   Fri
week_1  0.7 -0.05 -0.80  1.20 -1.05
week_2  0.4 -0.60  1.40  0.15 -1.35
week_3 -0.2 -0.70  1.05  0.30 -0.45

#### 22. [P] Report the maximum score for each week.

In [26]:
scores.max(axis=1) # operating ACROSS the columns,
                   # which is axis 1 
                   # (operating IN each row)

week_1    10.00
week_2    10.00
week_3     9.75
dtype: float64

#### 23. For each week, report which day had the largest score

In [27]:
'''
Assumption: because the list of days is Mon, etc.
rather than Monday, etc., Mon, etc. will suffice
for reporting a particular day for the purposes of
this problem and other problems in this lab unless
otherwise specified.
'''
scores.idxmax(axis=1) # operating ACROSS the columns,
                      # which is axis 1 
                      # (operating IN each row)

week_1    Thu
week_2    Wed
week_3    Wed
dtype: object

#### 24. [P] Report the week that had the highest total quiz score. Your answer should only be the name of the week from the index.

In [28]:
scores.sum(axis=1).idxmax() # operating ACROSS the columns,
                            # which is axis 1 
                            # (operating IN each row)
                            # no axis needed for .idxmax;
                            # parameter is redundant
                            # (documentation confirms this)
                            # due to only having one 
                            # dimension (axis = 0 is the
                            # only axis value that a 
                            # Series can have)

'week_1'

#### 25. [P] Report the number of days of each week that had a score >= 9.25. Your answer should be a Series that looks like the following:

In [29]:
def remove_last_line_from_string(s):
    '''
    The author of this code is user2746752 on Stack Overflow.
    This method was imported due to the triviality of my attempting
    to meet the precise output that was printed in the assignment
    (without the last line of the pandas Series output). Hence,
    I used this simple utility function to remove that last line.
    Using this code does not demonstrate my ability to complete
    this problem. I give full authorship to the user above for
    this function.
    
    Source: https://stackoverflow.com/questions/18682965/python-remove-last-line-from-string
    '''
    return s[:s.rfind('\n')]


threshold = 9.25

num_days_each_week_score_at_or_above_threshold = \
scores[scores >= threshold].count(axis=1) # operating ACROSS 
                                          # the columns, which
                                          # is axis 1 (operating
                                          # IN each row)
        
output_str = remove_last_line_from_string( \
num_days_each_week_score_at_or_above_threshold.__str__() \
) # extract string output used by print method,
  # rm last line for output
    
print(output_str) # print Series output without last line
                  # that starts with "dtype..."

week_1    2
week_2    1
week_3    1

#### 26. [P] Report the average score for each week

In [30]:
scores.mean(axis=1)

week_1    8.8
week_2    8.6
week_3    8.7
dtype: float64

#### 27. [P] Report the average score for each week with the lowest score for each week dropped. (REMEMBER – NEVER hard code magic numbers. Your solution should work for any number of weeks, and any number of days per week!)

In [31]:
num_scores_per_week = scores.shape[1]
if len(scores.index) > 1:
    scores_sum_each_week = scores.sum(axis=1)
    scores_max_each_week = scores.max(axis=1)
    scores_sum_without_max_each_week = scores_sum_each_week - \
                                     scores_max_each_week
    num_scores_without_max_per_week = num_scores_per_week - 1
    scores_avg_without_max_each_week = scores_sum_without_max_each_week \
                                     / num_scores_without_max_per_week
    print(scores_avg_without_max_each_week)
else:
    raise Exception("Zero or one scores in each week; \
    not enough scores to drop the lowest and calculate \
    weekly averages accordingly.")

week_1    8.5000
week_2    8.2500
week_3    8.4375
dtype: float64

#### 28. [P] Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.

In [32]:
# 0 to <max scale value>
curr_max_scale_value = 10
target_max_scale_value = 100
scale_change_factor = target_max_scale_value / curr_max_scale_value

scores * scale_change_factor

         Mon   Tue    Wed    Thu   Fri
week_1  95.0  87.5   80.0  100.0  77.5
week_2  90.0  80.0  100.0   87.5  72.5
week_3  85.0  80.0   97.5   90.0  82.5